<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-list *ngIf="posts.length == 0">
                    <ion-list-header>
                        <h3>List all posts</h3>
                    </ion-list-header>
                    <ion-item *ngFor="let post of [].constructor(10)">
                        <ion-thumbnail slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </ion-label>
                    </ion-item>
                </ion-list>

                <ion-list *ngIf="posts.length > 0">
                    <ion-list-header>
                        <h3>List all posts</h3>
                    </ion-list-header>
                    <ion-item *ngFor="let post of posts" [routerLink]="['/home', post.id]" routerLinkActive="router-link-active">
                        <ion-thumbnail slot="start">
                            <img src="{{post.featured_image_src}}">
                        </ion-thumbnail>
                        <ion-label>
                            <h4 [innerHTML]="post.title.rendered"></h4>
                            <p [innerHTML]="post.excerpt.rendered"></p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>